<div class="flex items-center justify-center">
    <table class="table-auto text-2xl">
        <th class="px-4 py-2">Username</th>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Job Role</th>
        <th class="px-4 py-2">Managed By</th>
        <!-- loop through each of the rows returned-->
        <% result.employees.data.forEach(function(row) { %>
        <tr>
            <td class="border px-4 py-2"><%= row.username %></td>
            <td class="border px-4 py-2"><%= row.first_name %> <%= row.surname %></td>
            <td class="border px-4 py-2"><%= row.job_role.role %></td>
            <td class="border px-4 py-2"><%= row.manager.first_name %> <%= row.manager.surname %></td>

            <td><!-- edit button action -->
                <form action="/employees/getById" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Edit" class="px-2 py-2 hover:text-blue-500"/>
                </form>
            </td>
            
            <td><!-- delete button action -->
                <form action="/employees/delete" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Delete" class="px-2 py-2 hover:text-red-500"/>
                </form>
            </td>

            <td><!-- delete button action -->
                <form action="/skillDetails" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type="hidden" name="username" value="<%= row.username %>">
                    <input type='submit' value="View Skills" class="px-2 py-2 hover:text-green-500"/>
                </form>
            </td>

        </tr>
        <%
        });
        %>
    </table>
</div>