<div class="flex items-center justify-center"></div>
    <table class="table-auto text-2xl">
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Name</th>
        <!-- loop through each of the rows returned-->
        <% result.skillCategory.data.forEach(function(row) { %>
        <tr>
            <td class="border px-4 py-2"><%= row.id %></td>
            <td class="border px-4 py-2"><%= row.name %> </td>
            
            <td><!-- edit button action -->
                <form action="/skillCategory/getById" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Edit" class="px-2 py-2 hover:text-blue-500"/>
                </form>
            </td>
            
            <td><!-- delete button action -->
                <form action="/skillCategory/delete" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Delete" class="px-2 py-2 hover:text-red-500"/>
                </form>
            </td>

        </tr>
        <%
        });
        %>
    </table>
</div>

<table class="table-auto text-2xl">
    <thead>
        <tr>
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">Name</th>
        </tr>
    </thead>
    <tbody>
        <% skillCategory.forEach(function(row) { %>
            <tr>
                <td class="border px-4 py-2"><%= row.id %></td>
                <td class="border px-4 py-2"><%= row.name %></td>
            </tr>
            <td><!-- edit button action -->
                <form action="/skillCategory/getById" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Edit" class="px-2 py-2 hover:text-blue-500"/>
                </form>
            </td>
            
            <td><!-- delete button action -->
                <form action="/skillCategory/delete" method="POST">
                    <input type="hidden" name="id" value="<%=row.id %>">
                    <input type='submit' value="Delete" class="px-2 py-2 hover:text-red-500"/>
                </form>
            </td>

        </tr>
        <%
        });
        %>
       
    </tbody>
</table>
