<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body >
        <header>
            <%- include('../partials/header') %>
        </header>
        <%- include('../partials/navbar') %>
        <main style="margin-left: 200px; margin-top: 80px; padding: 20px;" class="flex flex-col items-center">
            <h1 class="text-4xl font-extrabold leading-loose px-4">
                Edit a Skill Category</h1>
            <form action="/skillCategory/edit" method="POST" style="display: flex; flex-wrap: wrap; max-width: 600px;">
                <input type="hidden"
                    name="id"
                    value="<%=result.data.id%>">
                <!-- Column 1 -->
                <div style="flex: 50%; padding-right: 20px;">
                    <div style="margin-bottom: 20px;">
                        <label for="name">Name</label><br>
                        <input type="text" id="name" name="name" required style="width: 100%; border: 1px solid grey;"
                        value="<%=result.data.name%>">
                    </div>

                    

                <!-- Submit button -->
                <div style="width: 100%; text-align: center;">
                    <button type="submit" value="Submit" style="background-color: pink; padding: 10px 20px; border: none; cursor: pointer;">Submit</button>
                </div>
            </form>
            <% if (typeof errorMessage!= "undefined"){ %>
            <div role="alert">
                &nbsp;<div
                    class="text-2xl bg-red-500 text-white
                    font-bold rounded-t px-4 py-2">
                    Error - <%= errorMessage %>
                </div>&nbsp;
            </div>
            <% } %>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>